/* Header Navbar CSS */
.navbar {
  background-color: #02274C;
}

.logo {
  background-color: grey;
}

.nav-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-links {
  background-color: white;
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-links li a {
  display: block;
  padding: 1vh 3vh;
}

.nav-links li {
  /* background-color: grey; */
}

/* ul { */
/*   list-style-type: none; */
/*   margin: 0; */
/*   padding: 0; */
/*   background-color: #333333; */
/*   display: flex; */
/*   justify-content: left; */
/* } */
/**/
/* ul li a { */
/*   display: block; */
/*   color: white; */
/*   padding: 14px 16px; */
/*   text-decoration: none; */
/* } */
/**/
/* ul li a:hover { */
/*   background-color: #111111; */
/* } */

