/* Header Navbar CSS */
.navbar {
  background-color: #02274C;
  width: 100%;
  position: relative;
  height: 70px;
  /* border: 2px solid red; */
}

.nav-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo {
  align-items: center;
  gap: 5px;
  padding-left: 20px;
  display: flex;
}

.logo img {
  height: 40px;
  width: auto;
  display: block;
}

/* hamburger menu */
.hamburger img {
  padding: 10px;
  padding-left: 30px;
  height: 30px;
  width: auto;
  display: block;
}

.nav-menu {
  margin: 0;   
  padding: 1rem;
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 100%;
  background: #02264b;
  width: 125px;
  list-style: none;

  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  transition: 0.2s;
}

.nav-menu.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.nav-menu li {
  border-left: 2px solid white;
  padding: 0.5rem;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.25vh ;
}

.nav-menu li a:hover {
  font-weight: bold;
  transition: 0.2s;
}
