.weather-card {
    display: flex;
    flex-direction: column;
}

.weather-card .location {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin: 1rem auto;
}

.weather-card_main {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.current-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-weather h1{
    font-size: 6rem;
}

.weather-details {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 100px;
    gap: 1rem;
}

.headwind-detail, .tailwind-detail, .humidity-detail, .visibility-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    border-radius: 1rem;
}


.current-weather, .weather-details, .running-condition {
    flex: 2;
}